*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* html {
    height: 100%;
} */
body{
    margin: 0;
    box-sizing: border-box;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #2A2D34;
}
::-webkit-scrollbar{
    width: 10px;
    background-color:transparent;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(52, 233, 240);
    height: 25px;
    border-radius: 5px;
}

.navbar{
    width: 75px;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition-duration: 700ms;
    z-index: 2;
}
.navbar-item:last-child{
    margin-top: auto;
}
.navbar-item{
    width: 100%;
    height: 15%;
    transition-duration: 500ms;
    font-size: 20px;  
    display: flex;
    align-items: center;  
    justify-content: center;
}
.navbar-link{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.navbar-link span{
    display: none;
}
.navbar:hover {
    width: 250px;
    opacity: 1;
}
.navbar:hover span{
    display: flex;
}

.home{
    width: 100%;
    height: 100vh;
    background-color: teal;
}

.about{
    width: 100%;
    height: 100vh;    
    background-color: rgb(26, 33, 95);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: -2;
}
.aguamark {
    font-size: 10rem;
    font-weight: 700;
    left: 10%;
    top: 0;
    position: absolute;
    display: inline;
    color: rgba(28, 141, 126, 0.4);
    z-index: -1;
}
.about-box {
    height: 90%;
    width: 80%;
    /* background-color: rgba(128, 128, 128, 0.479); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.about-text{
    height: 100%;
    width: 50%;
    padding: 25px;
    overflow-y: auto;
}
.about-text p{
    font-size: 1.2em;
    color: white;
}
.about-photo{
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-photo img{
    height: 270px;
    width: 270px;
    border-radius: 50%;
    /* z-index: 2; */
}




.about-skills{
    height: 50%;
    width: 50%;
    /* background-color: palegoldenrod; */
}
.skill-area{
    height: 100%;
    width: 100%;
    padding: 20px;
    overflow-x: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

}
.skill{
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: thistle;
}
.skill i{
    font-size: 4em;
    
}
.progress{
    height: 15px;
    width: 90%;
    background-color: rgba(70, 62, 62, 0.7);
    border-radius: 7px;
    border: solid white 1px;
}
.progress-bar{
    height: 100%;
    width: 60%;
    background-color: orangered;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
}   
.html {
    background-color: yellow;
}


